<!DOCTYPE html>
<html>
    <head>
        <title>Xander Handley - Would you like to support Cub Scouts by ordering some popcorn?</title>
        <style type="text/css">
            BODY, TD {
                background-color: #78715A;
                color: White;
                font-family: Verdana, sans-serif;
                font-size: 14pt;
                font-weight: bold;
            }
            A, A:visited, A:hover, A:active {
                color: #FEB944;
                text-decoration: underline;
            }
        </style>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26200661-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <table>
            <tr>
                <td valign="top">
                    <img src="/images/xander-2011.jpg" alt="Xander - 10-7-2011" style="width:538px; height:717px;" />
                </td>
                <td>
                    <p>
                        Hi, my name is Xander.
                    </p>
                    <p>
                        Would you like to support Cub Scouts by ordering some popcorn?
                    </p>
                    <p>
                        I really enjoyed being a Tiger Cub last year and this year
                        I am a Wolf.  Some of my favorite scouting activities are:
                    </p>
                    <ul>
                        <li>Pinewood Derby (my space shuttle won best design and 2nd place in the race)</li>
                        <li>Shooting BB Guns</li>
                        <li>Archery</li>
                    </ul>
                    <p>
                        <a href="http://www.trails-end.com/estore/scouts/email_referral.jsp?id=7885248">Visit the Trails End Popcorn website</a>
                        to see the different kinds of popcorn available and to place your order online.  You'll see "Supporting Scout Xander H."
                        in the upper-right corner--that's how you know your order will get credited to me.
                    </p>
                    <img src="/images/Supporting-Xander-H.png" alt="Supporting Scout Xander H." />
                    <p>
                        <a href="/videos/Popcorn-2010-Award.wmv">Here's a video of me accepting</a>
                         my popcorn sales award last year.
                    </p>
                    <p>
                        Thank you for supporting Scouts!
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
